<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.beltran.discogsbrowser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">
        <activity android:name=".app.main.MainActivity" />
        <activity
            android:name=".app.LauncherActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="discogs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.settings.SettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.about.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.release.ReleaseActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>